.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-main {
  width: 80%;
  z-index: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  /* align-items: center; */
  /* justify-content: center; */
}

#main-display{
  width: 100%;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}

.App-footer, .App-header {
  height: 4rem;
  background-color: #3e4147;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  flex-flow: column wrap;
  width: 100%;
}

.App-footer a{
  color: white;
}

.App-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-link {
  color: rgb(50, 50, 122);
  margin: 1rem 1rem;
}

.active {
  color: green;
}

.navigation-bar {
  max-width: 20%;
}

.feature-pane {
  animation-duration: 1s;
  animation-name: slidein;
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40%;
  height: 100%;
  border-left:gray;
  border-left-style: solid;
}

.feature-pane * {
  margin-left: 10px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
